@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

header {
  background: linear-gradient(90deg, #57015F, black, black, black, black, black, #57015F);
  height: 65px;
  display: flex;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 12;
}

.logo {
  width: 200px;
  height: 100%;
}



.logo a img {
  width: 80px;
  float: right;
}

.navlinks{
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left:-30px;
}

.navlinks button{
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 99%;
  text-align: center;
  outline: none;
  border: none;
  width: 100px;
  transition: 0.4s;
}

.rightlinks button{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
  font-size: 16px;
  height: 99%;
  outline: none;
  border: none;
  width: 100px;
  transition: 0.4s;
}

.navlinks button span {
  font-size: 16px;
  cursor: pointer;

}

.navlinks button:hover, .rightlinks button:hover {
  background-color: #8F0099;
  color: white;
  cursor: pointer;

}

#navBar-logo{
  position: relative;
  left:-70px;
}

@media all and (max-width: 920px) {
  .logo{    
    width: 22%;
    height: 100%;


  }
}

@media all and (max-width: 740px) {
  .logo{    
    width: 100px;
    height: 100%;


  }
}


@media all and (max-width: 740px) {
  #navBar-logo{    
    position: relative;
    left:-60px;
  }
}


@media all and (max-width: 740px) {
  #navBar-logo{    
    position: relative;
    left:10px;
  }
}

@media all and (max-width: 740px) {
  .navlinks{    
    visibility: hidden;
  }
}


